In [1]:
import pandas as pd

flights = pd.read_csv("flights.csv")
flights = flights[flights["dest"] == "ORD"]
flights = flights[['carrier', 'dep_delay', 'arr_delay']]
flights = flights.dropna()

In [2]:
flights.shape
flights.head(5)
flights.describe()

          dep_delay     arr_delay
count  12590.000000  12590.000000
mean      11.709770      2.917951
std       39.409704     44.885155
min      -20.000000    -62.000000
25%       -6.000000    -22.000000
50%       -2.000000    -10.000000
75%        9.000000     10.000000
max      466.000000    448.000000

In [8]:
flights = pd.read_csv("flights.csv")
flights = flights[['carrier', 'dep_delay', 'arr_delay']]
flights.groupby("carrier").mean()

         dep_delay  arr_delay
carrier
AA        8.586016   0.364291
AS        5.804775  -9.930889
DL        9.264505   1.644341
UA       12.106073   3.558011
US        3.782418   2.129595